html{
    font-size: 62.5%;
}

body{
    font-size: 16px;    /*1rem = 10px*/
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#contenedor-juego{
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#juego{
    height: 80vh;
    max-height: 70rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carta{
    width: 10rem;
    height: 14rem;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.carta.activa{
    transform: rotateY(180deg);
}

.carta div{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
}

.carta .frente{
    background-color: purple;
    transform: rotateY(180deg);
    color: black;
    font-size: 6rem;
    font-weight: bold;
}

.carta .trasera{
    border: 2px solid purple;
    background-image: url(../img/vectorICSJBordeFull.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem;
}

.reloj{
    text-align: end;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.btn{
    background-color: lab(29.78% 58.94 -36.5);
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 1rem 3rem;
    transition: transform .5s ease;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn:hover{
    transform: scale(1.04);
}

.intentos{
    color: white;
    text-align: center;
    font-size: 3rem;
}

footer{
    height: 20rem;
    color: white;
}